[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

BlokDunyası_BurstDebugInformation_DoNotShip/
Blok Dünyası_BackUpThisFolder_ButDontShipItWithYourGame/

*.csproj
!Assets/Scripts/Core/BlockPuzzle.Core.csproj
*.sln
*.slnx
*.unityproj
*.user
*.userprefs
*.suo

# Build artifacts
*.apk
*.aab
**/TestResults/

.DS_Store
